<div class="container-fluid" ng-controller="dishesController as vm">

    <a ui-sref="/"><span class="glyphicon glyphicon-home"></span></a>
    

    <div ng-show="hideform">
        <table class="table bordered striped">
            <tr>
                <th>Edit</th>
                <th>Name</th>
                <th>Image src</th>
                <th>Script</th>
            </tr>
            <tr ng-repeat="item in dishes">
                <td>
                    <button class="btn btn-default" ng-click="deleteDish(item.Id)"><span class="glyphicon glyphicon-remove"></span>Delete</button>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="editDish(item.Id)">&#9998; Edit</button>
                </td>
                <td>{{ item.Name }}</td>
                <td>{{ item.ImageSrc }}</td>
                <td>
                    <textarea rows="4" cols="50" style="text-align:left;white-space:nowrap" class="form-control">
                        {{item.Script}}
                    </textarea>
                </td>
            </tr>
        </table>
        <br>
    </div>
    <div ng-show="hideform">
        <button class="btn btn-link" ng-click="createDish()">&#9998; Create New User</button>
    </div>

    <form ng-hide="hideform">
        <div class="row">
            <div class="col-md-4">
                <h3>Create new dish</h3>
                <label>DishName:</label>
                <input class="form-control" type="text" ng-model="vm.newEntry.dishname" placeholder="Dish name">
                <br>
                <label>Image src:</label>
                <input class="form-control" type="text" ng-model="vm.newEntry.imagesrc" placeholder="Image src">
                <br>
                <label>Script:</label>
                <textarea rows="4" cols="50" class="form-control" ng-model="vm.newEntry.script" placeholder="Script.."></textarea>
                <br>
                <button class="btn btn-success" ng-click="CreateNewEntry()" ng-disabled="error || incomplete">&#10004; Save Changes</button>
            </div>
        </div>
    </form>


    <form ng-show="editform">
        <div class="row">
            <div class="col-md-4">
                <h3>Edit dish</h3>
                <label>DishName:</label>
                <input class="form-control" type="text" ng-model="vm.Entry.Name" placeholder="Dish name">
                <br>
                <label>Image src:</label>
                <input class="form-control" type="text" ng-model="vm.Entry.ImageSrc" placeholder="Image src">
                <br>
                <label>Script:</label>
                <textarea rows="4" cols="50" class="form-control" ng-model="vm.Entry.Script" placeholder="Script.."></textarea>
                <br>
                <button class="btn btn-success" ng-click="UpdateDish()" ng-disabled="error || incomplete">&#10004; Update Changes</button>
            </div>
        </div>
    </form>


</div>