
<style>
    img.displayed 
    {
    display: block;
    margin-left: auto;
    margin-right: auto 

    }
</style>



<div class="container-fluid">
    <div class="row" ng-if="running == 0">
        <div class="col-*-12">

            <div ng-repeat="item in DishesDataBase">
                <h3>
                    {{item.Name}}
                </h3>
                <img class="img-responsive" src="{{item.ImageSrc}}" ng-click="RunDish(item)" alt="" />
            </div>
        </div>
    </div>   
    <div class="row" ng-if="running == 0">
       
        <a style="cursor:pointer" ui-sref="dishconfig">
            ...
        </a>


    </div>
    
    <div class="row" ng-if="running == 2">
        <div class=" col-*-offset-4 col-*-12">
            <img alt="" class="img-responsive" src="/images/Finished.jpg" ng-click="ShowStartWindow()" />
        </div>
    </div>

    <div class="row" ng-if="running == 1">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <p style="text-align:center">
                    {{currentimagedishname}}
                </p>
            </div>
            <div class="row">
                <img class="displayed img-responsive" alt="" style="width:auto;height:200px" src="{{currentimagedishsrc}}" />
            </div>
            <div class="row">
                <p style="font-size:62pt;color:greenyellow;text-align:center">
                    {{clock}}
                </p>
            </div>
        </div>
    </div>
</div>
