@{
    ViewBag.Title = "";
}
  

<script>


    $(function () {

        var chat = $.connection.chatHub;

        chat.client.ShowMessage = function (text) {


            var controllerElement = document.querySelector('body');
            var controllerScope = angular.element(controllerElement).scope();
            if (controllerScope != "undefined")
                controllerScope.ShowAlert(text);

        }
        chat.client.UpdateClock = function (time) {

            var controllerElement = document.querySelector('body');
            var controllerScope = angular.element(controllerElement).scope();
            if (controllerScope != "undefined")
                controllerScope.UpdateClock(time);
        }        

        $.connection.hub.error(function (err) {
            console.log('An error occurred: ' + err);
        });

        // Start the connection.
        $.connection.hub.start().done(function () {

            // Call the Send method on the hub.
            //chat.server.send("eli", "arad");
            //chat.server.registerHome($.connection.hub.id, User.Identity.Name);
            //alert($.connection.hub.id);
            //ShowAllSensorsOnView(true, $.connection.hub.id);

        });

    });

</script>




<div class="content-wrapper">

    <div data-ui-view style="margin-left: 0%" />

</div>

 
 