<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li id="ShowPhidgetList"><a href="#/Phidget">Phidget</a></li>
        <li id="ShowActivitiesList"><a href="#/Activities">Activities</a></li>

        <li><a href="#/Scripts">Scripts</a></li>
        <li id="ShowStorageList"><a href="#/StorageConfig">Storage</a></li>
        <li id="ShowSystemList"><a href="#/System">System</a></li>
        <li id="ShowDeployList"><a href="#/Deploy">Deploy</a></li>

    </ul>
</nav>

<h4 style="color:black" >
    Edit scripts
</h4>

<style>   
     label
     {
         float:left;
         display:inline-block;
         width:160px;
     }
 
    input{
       max-width:200px;
    }
</style>


<div style="margin-left:50px;display:inline-block">

    <div class="form-group">
        <label for="ScriptName" class="addlabelrowsize">Script Name</label>
        <input type="text" style="max-width:400px" class="form-control" ng-model="CurScript[0].ScriptName" id="ScriptName" placeholder="Script Name" />
    </div>

    <div class="form-group">
        <label for="ScriptDescription" class="addlabelrowsize">Script Description</label>
        <input type="text" style="max-width:400px" class="form-control" ng-model="CurScript[0].ScriptDescription" id="ScriptDescription" placeholder="Script Description" />
    </div>


    <div class="form-group">
        <textarea cols="120" rows="40" class="pathrowsize" ng-model="CurScript[0].Script" id="Script" placeholder="Script" />
    </div>

    <div class="form-group">
        <label for="getOwnership" class="addlabelrowsize">getOwnership</label>
        <input type="checkbox" class="pathrowsize" ng-model="CurScript[0].getOwnership" id="getOwnership" placeholder="Get ownership" />
    </div>




    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" ng-click="editCurrentScript(CurScript[0])">Save</button>

            <button class="btn btn-primary" ng-click="backToScript()">Back</button>
        </div>
    </div>
</div>