
<style>
    input.ng-invalid.ng-dirty {
        border: 1px solid red;
    }
</style>

<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li id="ShowPhidgetList"><a href="#/Phidget">Phidget</a></li>
        <li id="ShowActivitiesList"><a href="#/Activities">Activities</a></li>

        <li><a href="#/Scripts">Scripts</a></li>
        <li id="ShowStorageList"><a href="#/StorageConfig">Storage</a></li>
        <li id="ShowSystemList"><a href="#/System">System</a></li>
        <li id="ShowDeployList"><a href="#/Deploy">Deploy</a></li>

    </ul>
</nav>

<h4 style="color:black" >
    Add new script
</h4>



<div class="form-group" >
    <label for="ScriptName"  class="addlabelrowsize" >Script Name</label>
    <input type="text" ng-model="NewScript.ScriptName" id="ScriptName" placeholder="Script Name"/>
</div>


<div class="form-group" >
    <label for="ScriptDescription"  class="addlabelrowsize" >Script Description</label>
    <input type="text" ng-model="NewScript.ScriptDescription" id="ScriptDescription" placeholder="Script Description"/>
</div>

<div class="form-group" >
    <textarea   ng-model="NewScript.Script" id="Script"  cols="50" rows="20" placeholder="Script"/>
</div>


<div class="form-group" >
    <label for="getOwnership"  class="addlabelrowsize" >Get ownership</label>
    <input type="checkbox" ng-model="NewScript.getOwnership"    ng-init="NewScript.getOwnership = NewScript.getOwnership || false"   id="getOwnership" placeholder="getOwnership"/>
</div>



<div class="form-group">
    <button class="btn btn-primary" ng-click="addNewScript(NewScript)">Add</button><br>
    <button class="btn btn-primary" ng-click="backToScript()">Back</button>
</div>