<style>

    input#maxFilesToPack.form-control.ng-invalid.ng-dirty {
        border: 1px solid red;
    }
    input#maxFilesInDirectory.form-control.ng-invalid.ng-dirty {
        border: 1px solid red;
    }
    input#hwAvg.form-control.ng-invalid.ng-dirty {
        border: 1px solid red;
    }

    /*    
    input.ng-invalid.ng-dirty {
        border: 1px solid red;
    }
    */

    input#maxFilesToPack.form-control.ng-dirty.ng-valid
    {
        border: 1px solid green;
    }

    input#maxFilesInDirectory.form-control.ng-dirty.ng-valid
    {
        border: 1px solid green;
    }

    input#hwAvg.form-control.ng-dirty.ng-valid
    {
        border: 1px solid green;
    }
    
    .badinput{
        border: 1px solid red;
    }
</style>

<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li id="ShowPhidgetList"><a href="#/Phidget">Phidget</a></li>
        <li id="ShowActivitiesList"><a href="#/Activities">Activities</a></li>

        <li><a href="#/Scripts">Scripts</a></li>
        <li id="ShowStorageList"><a href="#/StorageConfig">Storage</a></li>
        <li id="ShowSystemList"><a href="#/System">System</a></li>
        <li id="ShowDeployList"><a href="#/Deploy">Deploy</a></li>

    </ul>
</nav>

<h4 style="color:black">
    Add new watson configuration
</h4>



<style>
    label {
        float: left;
        display: inline-block;
        width: 240px;
    }
</style>


<div style="margin-left:50px">

    <form name="frm" novalidate>


        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Max files to pack</label>
                            <input type="number" min="1" max="80000" name="maxfilestopack" style="max-width:200px" class="form-control" ng-model="NewWatsonConfig.maxFilesToPack" id="maxFilesToPack" placeholder="Max files to pack" required />
                        </div>
                        <div class="col-sm-4">
                            <span ng-show="frm.maxfilestopack.$dirty && frm.maxfilestopack.$error.required">!Requred</span>
                            <span ng-show="frm.maxfilestopack.$dirty && frm.maxfilestopack.$error.max">maximum is 80000</span>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="maxFilesInDirectory">Max files in directory</label>
                            <input type="number" name="maxfilesindirectory" min="1" max="80000" style="max-width:200px" class="form-control" ng-model="NewWatsonConfig.maxFilesInDirectory" id="maxFilesInDirectory" placeholder="Max files in directory" required />
                        </div>
                        <div class="col-sm-4">
                            <span ng-show="frm.maxfilesindirectory.$dirty && frm.maxfilesindirectory.$error.required">!Requred</span>
                            <span ng-show="frm.maxfilesindirectory.$dirty && frm.maxfilesindirectory.$error.max">maximum is 10000</span>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="DirectoryToStoreData">DirectoryToStoreData</label>
                    <input type="text" style="max-width:600px" class="form-control" ng-model="NewWatsonConfig.DirectoryToStoreData" id="DirectoryToStoreData" placeholder="Directory to store Data" required />
                </div>


                <div class="form-group">
                    <label for="estimatorPKLFile">Estimator PKL File</label>
                    <input type="text" style="max-width:600px" class="form-control" ng-model="NewWatsonConfig.estimatorPKLFile" id="estimatorPKLFile" placeholder="Estimator PKL File" required />

                </div>
                <div class="form-group">
                    <label for="estimatorPythonCodePath">Estimator code path</label>

                    <input type="text" style="max-width:600px" class="form-control" ng-model="NewWatsonConfig.estimatorPythonCodePath" id="estimatorPythonCodePath" placeholder="Estimator code path" required />

                </div>

                <!--ng-blur='checkWatsonCalibrationDirectoryExistance(NewWatsonConfig.WatsonCalibrationDirectory)' -->
                <div class="form-group" show-errors="watsoncalibrationdirectory">
                    <label for="WatsonCalibrationDirectory">Watson Calibration Directory</label>
                    <input type="text" name="watsoncalibrationdirectory"
                           style=" max-width:600px"
                           class="form-control"
                           ng-model="NewWatsonConfig.WatsonCalibrationDirectory"
                           id="WatsonCalibrationDirectory"
                           placeholder="Watson Calibration Directory"
                           required />
                    <span class="help-block hide">Calibration directory does not exists</span>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="hwAvg">Hardware average</label>
                    <input type="number" style="max-width:200px" min="1" max="1023" class="form-control" ng-model="NewWatsonConfig.hwAvg" id="hwAvg" placeholder="Hardware Average" required />
                </div>

                <div class="form-group">
                    <label for="scriptId">Script id</label>
                    <input type="number" style="max-width:200px" class="form-control" ng-model="NewWatsonConfig.scriptId" id="scriptId" placeholder="script Id" required />

                </div>

                <div class="form-group">
                    <label for="EstimatorEnabled">Estimator enabled</label>
                    <input type="checkbox" style="max-width:40px" class="form-control" ng-model="NewWatsonConfig.EstimatorEnabled" ng-init="NewWatsonConfig.EstimatorEnabled = EstimatorEnabled.EstimatorEnabled || false" id="EstimatorEnabled" placeholder="Estimator enabled" />
                </div>


                <div class="form-group">
                    <label for="CreateDirectoriesBaseTimeForTests">Create Directories Base Time</label>
                    <input type="checkbox" style="max-width:40px" class="form-control" ng-model="NewWatsonConfig.CreateDirectoriesBaseTimeForTests" ng-init="NewWatsonConfig.CreateDirectoriesBaseTimeForTests = NewWatsonConfig.CreateDirectoriesBaseTimeForTests || false" id="CreateDirectoriesBaseTimeForTests" placeholder="CreateDirectoriesBaseTimeForTests" />

                </div>


                <div class="form-group">
                    <label for="KillPythonProcessWhenStarting">Kill Python Process When Starting</label>
                    <input type="checkbox" style="max-width:40px" class="form-control" ng-model="NewWatsonConfig.KillPythonProcessWhenStarting" ng-init="NewWatsonConfig.KillPythonProcessWhenStarting = NewWatsonConfig.KillPythonProcessWhenStarting || false" id="KillPythonProcessWhenStarting" placeholder="Kill Python Process When Starting" />

                </div>



                <div class="form-group">
                    <label for="openPythonConsoleWindow">Open Python console Window</label>
                    <input type="checkbox" style="max-width:40px" class="form-control" ng-model="NewWatsonConfig.openPythonConsoleWindow" ng-init="NewWatsonConfig.openPythonConsoleWindow = NewWatsonConfig.openPythonConsoleWindow || false" id="openPythonConsoleWindow" placeholder="Open python console window" />
                </div>


                <div class="form-group">
                    <label for="getOwnership">getOwnership</label>
                    <input type="checkbox" style="max-width:40px" class="form-control" ng-model="NewWatsonConfig.getOwnership" ng-init="NewWatsonConfig.getOwnership = NewWatsonConfig.getOwnership || false" id="getOwnership" placeholder="getOwnership" />

                </div>
            </div>
        </div>






           

          



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-disabled="frm.$invalid" ng-click="addNewWatsonConfig(NewWatsonConfig)">Add</button>
                    <button class="btn btn-primary" ng-click="backToScript()">Back</button>
                </div>
            </div>
</form>
</div>